#root{
  background-color: aquamarine;
}
.header {
  height: 250px;
  width: 100%;
  background-image: linear-gradient(blueviolet, black);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:cursive ;
}
.header h1 {
  margin-top: 0px;
  font-size: 95px;
  color: white;
}
.hungry-mouth {
  display: block;
  margin: 30px;
  width: 150px;
  height: 150px;
}
.hungry-mouth img {
  width: 150px;
  border-radius: 50%;
}
.ad-info {
  text-align: center;

}
.form-div {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.form-div form > input {
  width: 450px;
  padding: 20px 20px;
  border: none;
  border-bottom: 1.5px solid blueviolet;
}
.form-div form > input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid blueviolet;
}
.form-div form > input:active {
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
}
.form-div form > button {
  padding: 10px 10px;
  background-color: blueviolet;
  color: white;
  border-radius: 5px 5px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.grocery-div {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.grocery-div ul > li {
  list-style: none;
}
.shopping-div {
  width: 550px;
  margin: 20px 20px;
  display: flex;
  justify-content: space-between;
  font-family:Arial, Helvetica, sans-serif;
}
.li-style {
  display: inline-block;
  font-size: 24px;
}
.li-style-purchased {
  text-decoration: line-through;
}
.edit-button {
  padding: 10px 10px;
  background-image: radial-gradient(rgb(55, 216, 55), rgb(4, 60, 13));
  border-radius: 5px 5px;
  color: black;
  border-style: none;
  cursor: pointer;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
}
.done-button {
  padding: 10px 10px;
  background-image: radial-gradient(rgb(255, 200, 0), #fcdb03);
  border-radius: 5px 5px;
  color: black;
  border-style: none;
  cursor: pointer;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
}
.purchase-button {
  padding: 10px 10px;
  background-image: radial-gradient(turquoise, #030bfc);
  border-radius: 5px 5px;
  color: black;
  border-style: none;
  cursor: pointer;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
}
.delete-button {
  padding: 10px 10px;
  background-image: radial-gradient(#fc0303, rgb(70, 7, 7));
  border-radius: 5px 5px;
  color: white;
  border-style: none;
  cursor: pointer;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
}
.edit-button:active {
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
}
.done-button:active {
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
}
.purchase-button:active {
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
}
.delete-button:active {
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
}

.error{
  color: red;
  text-align: center;
}

.sorting {
  display: flex;
  justify-content: center;
}
.sort-button {
  cursor: pointer;
  padding: 10px 10px;
  background-image: linear-gradient(blueviolet, black);
  border-radius: 5px 5px;
  color: white;
  border-style: none;
  font-family: fantasy;
  font-size: 15px;

}
.sorting ul li {
  list-style: none;
  display: inline-block;
  margin-left: 5px;
}